<%- include('./header') %>

<!-- wrapper  -->

<div class="dashboard-wrapper">
	<div class="dashboard-ecommerce">
		<div class="container-fluid dashboard-content ">

			<!-- pageheader  -->

			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">

						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Dashboard</a>
									</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>

			<!-- end pageheader  -->


			<div class="ecommerce-widget">

				<!-- Earning History Table  -->

				<%-include('./alert')%>
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
						<div class="card">
							<h5 class="card-header">Products List</h5>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table">
										<thead class="bg-light">
											<tr class="border-0">
												<th class="border-0">#</th>
												<th class="border-0">Image</th>
												<th class="border-0">Name</th>
												<th class="border-0">Type</th>
												<th class="border-0">Category</th>
												<th class="border-0">Time</th>
												<th class="border-0">status</th>
												<th class="border-0">Edit</th>
												<th class="border-0">Delete</th>
											</tr>
										</thead>
										<tbody>
											<%banners.forEach((b,i) => {%>
											<tr>
												<td><%=i+1%></td>
												<td>
													<div class="m-r-10"><img src="<%=b.image%>" alt="user" class="rounded" width="45">
													</div>
												</td>
												<td><%=b.name%></td>
												<td><%=b.type%> </td>
												<td><%=b.category%> </td>
												<%var time = moment(b.createdAt).format('ddd DD-MM-YYYY hh:mm')%>
												<td><%=time%></td>
												<%if (b.active) {%>
												<td><span class="badge-dot badge-success mr-1"></span>
													active
													<a href="/admin/banner/disable/<%=b._id%>" class="btn btn-danger btn-sm">Disable</a>
												</td>
												<%}else{%>
												<td><span class="badge-dot badge-danger mr-1"></span>
													inactive
													<a href="/admin/banner/enable/<%=b._id%>" class="btn btn-success btn-sm">Enable</a>

												</td>
												<%}%>
													
													<td><a href="/admin/banner/edit/<%=b._id%>" class="btn btn-dark btn-sm">Edit</a></td>

												<td><a href="/admin/banner/delete/<%=b._id%>"
														onclick="return confirm('Are you sure\n You want to delete this Banner?')"
														class="btn btn-danger btn-sm">Delete</a></td>
											</tr>
											<%});%>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- End Earning History Table  -->

			</div>
		</div>
	</div>
	<%- include('./footer') %>