<%- include('../header') %>

<!-- wrapper  -->

<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <!-- pageheader  -->

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Goodies</h2>

                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">All Goodies</li>
                                </ol>
                                <li class="nav-item" >
                                    <a class="nav-link" href="/api/admin/add-goodie">
                                        <button class="btn btn-block btn-success">Add Goodie</button>                                   
                                    </a>
                                </li>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end pageheader  -->


            <div class="row">
                <!-- ============================================================== -->
                <!-- top selling products  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">All Goodies Table</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <!-- <th class="border-0">profile</th> -->
                                            <th class="border-0">Name</th>
                                            <th class="border-0">Rating</th>
                                            <th class="border-0">Edit</th>
                                            <th class="border-0">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>   
                                        <% if (goodies && goodies.length) {%>  
                                            <%goodies.forEach( (b,i)=>{%>                                          
                                                <tr>
                                                    <!-- <td>
                                                        <div class="m-r-10"><img src="<%= goodies.image_base_url + b.image %>" alt="user" class="rounded" width="45"></div>
                                                    </td> -->
                                                    <td><%=b.name%></td>
                                                    <td><%=b.rating%></td>
                                                    <td><a href="/api/admin/edit-goodie-id/<%= b._id %>" class="btn btn-dark btn-sm">Edit</a></td>
                                                    <td><a href="/api/admin/delete-goodie/<%= b._id %>" class="btn btn-danger btn-sm">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <!-- <td colspan="12"><a href="#" class="btn btn-outline-light float-right">View Details</a></td> -->
                                                </tr>
                                                <%})%>
                                        <% }%>  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- end top selling products  -->
                <!-- ============================================================== -->


                
            </div>
        </div>